body{
    background-color: floralwhite;
}
.homepageimg{
    width:300px;
    height:300px; 
}
.imgleft{
    float: left;
    margin:0px 30px 0px 0px;
}
.imgright{
    float: right;
    margin:0px 0px 0px 30px;
}
.clear
{
    clear:both;
}

.row-content{
    width: 900px;
  /*  background-color:#ffaa64;*/
    margin:10px 200px 10px 200px;
    padding:30px 60px 30px 60px;
    border-bottom:3px ridge #b3abab;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.row-content:hover, .row-content:focus, .row-content:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.para{
    color:#5c5858;
    font-family:sans-serif;
    font-size:24px;
    vertical-align: middle;
    letter-spacing: 1px;
}

.row-head{
    color:#5c5858;
    font-family:sans-serif;
    font-size:26px;
    font-weight:bold;
    vertical-align: middle;
    letter-spacing: 2px;
}

.footer{
    padding:100px 200px 5px 200px; 
    background:#312d2d;
    color:#ffffff;
    font-family:sans-serif;
    font-size:20px;
    vertical-align: middle;
    letter-spacing: 1px;
    text-align:center; 
    clear:both
}